PORT=3000

MAX_GROUP_SIZE=5

HOTELS_SIMULATOR_URL=https://gya7b1xubh.execute-api.eu-west-2.amazonaws.com/default/HotelsSimulator
PROVIDER_TIMEOUT_MS=15000
PROVIDER_RETRIES=2
PROVIDER_RETRY_BACKOFF_MS=300

REDIS_URL=redis://127.0.0.1:6379
SEARCH_TTL_SECONDS=600

LOG_LEVEL=info
LOG_PRETTY=false
